
.About{
    text-align: center;
    font-size: 10px;
}

.Heroes .Villains{
    /* display: grid; */
    border: 1px solid black;
}

.Heroes{
    /* display: grid; */
    border: 1px solid black;
}


img{
    border: 5px solid black
}